<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="CommonMapper">

	<!--表名 -->
	<sql id="tableName">
		B_TEMPLATE
	</sql>

	<!-- 字段 -->
	<sql id="Field">
		CREATE_DATE,
		MODIFY_DATE,
		OPERATOR,
		TEMPLATE_ID
	</sql>

	<!-- 字段值 -->
	<sql id="FieldValue">
		#{CREATE_DATE},
		#{MODIFY_DATE},
		#{OPERATOR},
		#{TEMPLATE_ID}
	</sql>

	<!-- 新增-->
	<insert id="save" parameterType="String">
		<![CDATA[
	    ${_parameter}
	    ]]>
	</insert>

	<!-- 删除-->
	<delete id="delete" parameterType="String">
		<![CDATA[
	    ${_parameter}
	    ]]>
	</delete>

	<!-- 修改 -->
	<update id="edit" parameterType="String">
		<![CDATA[
	    ${_parameter}
	    ]]>
	</update>

	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="String" resultType="pd">
		<![CDATA[
	    ${_parameter}
	    ]]>
	</select>

	<!-- 列表 -->
	<select id="datalistPage" parameterType="String" resultType="pd">
		<![CDATA[
	    ${_parameter}
	    ]]>
	</select>

	<!-- 列表(全部) -->
	<select id="listAll" parameterType="String" resultType="pd">
		<![CDATA[
	    ${_parameter}
	    ]]>
	</select>
	
	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		<![CDATA[
	    ${_parameter}
	    ]]>
	</delete>

	<insert id="insert" parameterType="String">
	    <![CDATA[
	    ${_parameter}
	    ]]>
	</insert>
</mapper>