<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ListListRuleMapper">
	
	<!--表名 -->
	<sql id="tableName">
		B_LISTLISTRULE
	</sql>
	
	<!-- 字段 -->
	<sql id="Field">
		NAME,
		MASTER_TABLES_ID,
		MASTER_COLUMNS_ID,
		SLAVE_TABLES_ID,
		SLAVE_COLUMNS_ID,
		SOURCE_TABLES_ID,
		SOURCE_COLUMNS_ID,
		INIT_ALL,
		CORP_ID,
		JSON_DATA,
		LISTLISTRULE_ID
	</sql>
	<!-- 字段 -->
	<sql id="Alias_Field">
		a.NAME,
		a.MASTER_TABLES_ID,
		a.MASTER_COLUMNS_ID,
		a.SLAVE_TABLES_ID,
		a.SLAVE_COLUMNS_ID,
		a.SOURCE_TABLES_ID,
		a.SOURCE_COLUMNS_ID,
		a.INIT_ALL,
		a.CORP_ID,
		a.JSON_DATA,
		a.LISTLISTRULE_ID
	</sql>
		
	<!-- 字段值 -->
	<sql id="FieldValue">
		#{NAME},
		#{MASTER_TABLES_ID},
		#{MASTER_COLUMNS_ID},
		#{SLAVE_TABLES_ID},
		#{SLAVE_COLUMNS_ID},
		#{SOURCE_TABLES_ID},
		#{SOURCE_COLUMNS_ID},
		#{INIT_ALL},
		#{CORP_ID},
		#{JSON_DATA},
		#{LISTLISTRULE_ID}
	</sql>
	
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into 
	<include refid="tableName"></include>
		(
	<include refid="Field"></include>
		) values (
	<include refid="FieldValue"></include>
		)
	</insert>
	
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from
		<include refid="tableName"></include>
		where 
			LISTLISTRULE_ID = #{LISTLISTRULE_ID}
	</delete>
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update
		<include refid="tableName"></include>
		set 
			NAME = #{NAME},
			MASTER_TABLES_ID = #{MASTER_TABLES_ID},
			MASTER_COLUMNS_ID = #{MASTER_COLUMNS_ID},
			SLAVE_TABLES_ID = #{SLAVE_TABLES_ID},
			SLAVE_COLUMNS_ID = #{SLAVE_COLUMNS_ID},
			SOURCE_TABLES_ID = #{SOURCE_TABLES_ID},
			SOURCE_COLUMNS_ID = #{SOURCE_COLUMNS_ID},
			JSON_DATA = #{JSON_DATA},
			INIT_ALL = #{INIT_ALL},
		LISTLISTRULE_ID = LISTLISTRULE_ID
		where 
		LISTLISTRULE_ID = #{LISTLISTRULE_ID}
	</update>
	
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 
			LISTLISTRULE_ID = #{LISTLISTRULE_ID}
	</select>
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 1=1
        <if test="pd.CORP_ID != null and pd.CORP_ID != ''">
            and CORP_ID = #{pd.CORP_ID}
        </if>
		<if test="pd.keywords!= null and pd.keywords != ''"><!-- 关键词检索 -->
			and
				(
					name LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
				)
		</if>
	</select>
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
		<include refid="Alias_Field"></include>, c.COLUMN_NAME_EN SOURCE_COLUMNS_NAME_EN, e.COLUMN_NAME_EN MASTER_COLUMNS_NAME_EN
		from 
		<include refid="tableName"></include> a
		left join B_COLUMNS b on a.SOURCE_COLUMNS_ID = b.COLUMNS_ID
		left join B_INDEXES c on b.INDEXES_ID = c.INDEXES_ID
		left join B_COLUMNS d on a.MASTER_COLUMNS_ID = d.COLUMNS_ID
		left join B_INDEXES e on d.INDEXES_ID = e.INDEXES_ID
		where 1=1
		<!--<if test="CORP_ID != null and CORP_ID != ''">-->
			<!--and a.CORP_ID IN (-->
				<!--SELECT CORP_ID FROM SYS_CORP m WHERE CORP_ID = #{CORP_ID}-->
				<!--UNION ALL-->
				<!--SELECT CORP_ID FROM SYS_CORP WHERE CORP_ID = (-->
				<!--SELECT PARENT_ID FROM SYS_CORP WHERE CORP_ID = #{CORP_ID}-->
				<!--)-->
				<!--UNION ALL-->
				<!--SELECT CORP_ID FROM SYS_CORP WHERE CORP_ID = (-->
				<!--SELECT PARENT_ID FROM SYS_CORP WHERE CORP_ID = (-->
				<!--SELECT PARENT_ID FROM SYS_CORP WHERE CORP_ID = #{CORP_ID}-->
				<!--))-->
				<!--UNION ALL-->
				<!--SELECT CORP_ID FROM SYS_CORP WHERE CORP_ID = (-->
				<!--SELECT PARENT_ID FROM SYS_CORP WHERE CORP_ID = (-->
				<!--SELECT PARENT_ID FROM SYS_CORP WHERE CORP_ID = (-->
				<!--SELECT PARENT_ID FROM SYS_CORP WHERE CORP_ID = #{CORP_ID}-->
				<!--)))-->
			<!--)-->
		<!--</if>-->
        <if test="CORP_ID != null and CORP_ID != ''">
            and a.CORP_ID = #{CORP_ID}
        </if>
		<if test="MASTER_TABLES_ID != null and MASTER_TABLES_ID != ''">
		    and a.MASTER_TABLES_ID = #{MASTER_TABLES_ID}
		</if>
	</select>
	
	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from
		<include refid="tableName"></include>
		where 
			LISTLISTRULE_ID in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>
	
	<!-- fh313596790qq(青苔) -->
</mapper>